/* Загальні стилі */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 40px;
    line-height: 1.8;
    background-color: #f5f5f7; /* Світлий фон у стилі Apple */
    color: #333;
}

/* Навігація */
#navigation {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легка тінь для навігації */
}

#navigation a {
    color: #0071e3; /* Синій колір у стилі Apple */
    text-decoration: none;
    margin: 0 20px;
    padding: 15px 30px;
    font-size: 18px;
    display: inline-block;
    transition: color 0.3s ease;
}

#navigation a:hover {
    color: #005bb5; /* Темніший відтінок синього при наведенні */
}

/* Секції */
section {
    padding: 60px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05); /* Легкі тіні для секцій */
}

/* Заголовки */
section h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1d1d1f;
}

h1 {
    font-size: 36px;
    color: #1d1d1f;
}

/* Стилі для зображень */
img {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Глибші тіні для зображень */
}

/* Стилі для списків */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Контакти */
#contacts ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Вирівнюємо по правому краю */
}

#contacts ul li {
    margin-bottom: 15px;
}

#contacts ul li a {
    color: #0071e3;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

#contacts ul li a:hover {
    color: #005bb5;
    text-decoration: underline;
}
